{% extends "share/base.html" %}
{% load staticfiles %}
{% block content %}

<div id="maincontent" class="row">
  <div id="map"  class="col-md-10">
    <div id="popup" class="ol-popup">
      <div id="popup-content"></div>
      <button id="popup-closer" class="ol-popup-closer">X</button>
      <div id="fname"></div>
    </div> 
  </div>

<div id="sidebar" class="col-md-2">
       <!--<div id="info" class="top"></div>-->
       <div class="middle">
         <label>请输入地名，获得经纬度</label>
         <form action="{% url 'tolalo' %}" method="POST">
            {% csrf_token %}
           <input class="form-control" type="text" name="location">
           <input class="btn btn-primary"  type="submit" value="确定">
           </form>
           <label>添加事故点</label>
         <form action="{% url 'tokml' %}" method="POST">
            {% csrf_token %}
            <input  class="form-control" type="text" name="latitude" value="{{ latitude }}">
            <input  class="form-control" type="text" name="longitude" value="{{ longitude }}">
            <input class="btn btn-primary"  type="submit" value="确定">
         </form>
       </div>
      <div class="buttom">
         <div id="info">No countries selected</div>
          <!--<form action="{% url 'upload' %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{uf.as_p}}
            <input  class="btn btn-primary"  type="submit" value="上传文件">
          </form>-->
       </div>
</div>
</div>
<!--<div class="news">
      <div class="accident-news">
            <p>事故通报</p>
            <p>......</p>
          </div>
          <div class="accident-knowledge">
            <p>事故知识</p>
            <p>......</p>
          </div>

          <div class="accident-low">
            <p>事故法律</p>
            <p>......</p>
          </div>
      </div>-->
{% endblock %}
